{% extends 'Layout/Authenticated/base.html.twig' %}

{% block content %}
    <h3 class="font-semibold leading-2 text-gray-900 text-2xl">{{ 'Are you sure you want to leave the project?'|trans({}, 'project') }}</h3>
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-2">
        {{ form_start(form, {'attr': {'class': 'bg-white shadow-sm ring-1 ring-gray-200 sm:rounded-xl md:col-span-2'}}) }}
        <div class="px-4 py-6 sm:p-8">
            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <div class="mt-2 flex space-x-4">
                        <input type="submit" value="{{ 'Yes, I\'m sure'|trans({}, 'project') }}" class="block w-full rounded-md border-0 py-1.5 text-white hover:bg-red-700 bg-red-500 shadow-sm ring-1 ring-inset ring-red-600 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 cursor-pointer">
                        <a href="{{ path('app_project_list') }}" class="block w-full rounded-md border-0 py-1.5 text-white bg-secondary text-center hover:bg-gray-700 focus:bg-black focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">{{ 'Go back'|trans({}, 'project') }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
