{% extends 'Layout/Authenticated/base.html.twig' %}

{% set has_edit_right = is_granted(constant('App\\Security\\Voter\\ProjectVoter::UPDATE'), project) %}

{% block content %}
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-6 sm:px-6">
            <h3 class="text-base font-semibold leading-7 text-gray-900">{{ project.name }}</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">{{ 'show.title'|trans({}, 'project') }}</p>
        </div>
        <div class="border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">{{ 'member.title'|trans({}, 'member') }}</dt>
                    <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                            {% for member in members %}
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                            <span class="truncate font-medium">{{ member.user.email }}</span>
                                            <span class="flex-shrink-0 text-gray-400">{{ member.role.value|trans({}, 'member') }}</span>
                                        </div>
                                    </div>
                                    <div class="ml-4 flex-shrink-0">
                                        {% if is_granted(constant('App\\Security\\Voter\\MemberVoter::UPDATE'), member) %}
                                            <a href="{{ path('app_member_update', {'id': member.id}) }}"
                                               class="font-medium text-indigo-600 hover:text-indigo-500">Modifier</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </dd>
                </div>

                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">{{ 'invitation.title'|trans({}, 'member') }}</dt>
                    <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                            {% if has_edit_right %}
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                        <span class="truncate font-medium">
                                            <a href="{{ path('app_project_invite', {'id': project.id}) }}"
                                               class="text-primary hover:underline">
                                                {{ 'invitation.create'|trans({}, 'member') }}
                                            </a>
                                        </span>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            {% for member in invitations %}
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                            <span class="truncate font-medium">{{ member.user.email }}</span>
                                            <span class="flex-shrink-0 text-gray-400">{{ member.role.value|trans({}, 'member') }}</span>
                                        </div>
                                    </div>
                                    <div class="ml-4 flex-shrink-0">
                                        {% if is_granted(constant('App\\Security\\Voter\\MemberVoter::UPDATE'), member) %}
                                            <a href="{{ path('app_member_update', {'id': member.id}) }}"
                                               class="font-medium text-indigo-600 hover:text-indigo-500">Modifier</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% else %}
                                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                    <div class="flex w-0 flex-1 items-center">
                                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                            <span class="truncate font-medium">Aucune invitation en attente</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="sm:flex sm:items-center pt-5">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6">Boites de réceptions</h1>
        </div>
        {% if is_granted(constant('App\\Security\\Voter\\ProjectVoter::UPDATE'), project) %}
            <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                <a href="{{ path('app_inbox_create', {'id': project.id}) }}" type="button"
                   class="block rounded-md bg-secondary px-3 py-2 text-center text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-primary">
                        <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6">Boite de
                                réception
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Nombre d'email envoyé
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Messages</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Dernier message</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Action</th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        {% for inbox in project.inboxes %}
                            <tr>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6">
                                    <a href="{{ path('app_inbox_show', {'id': inbox.id}) }}"
                                       class="text-primary no-underline hover:underline">
                                        {{ inbox.name }}
                                    </a>
                                </td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ inbox.mailNumberSent }}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ inbox.mails|length }}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ inbox.mails is empty ? 'empty'|trans({}, 'inbox') : (inbox.mails|last).subject|default('no_subject'|trans({}, 'inbox')) }}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                    {% if has_edit_right %}
                                        <a href="{{ path('app_inbox_update', {'id': inbox.id}) }}"
                                           class="text-indigo-600 hover:text-indigo-900">Modifier</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="whitespace-nowrap py-4 text-sm font-medium text-center" colspan="6">
                                    Aucune boite de réception configurée
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="sm:flex sm:items-center pt-5">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6">Listes des templates</h1>
        </div>
        {% if is_granted(constant('App\\Security\\Voter\\ProjectVoter::UPDATE'), project) %}
            <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                <a href="{{ path('app_template_create', {'id': project.id}) }}" type="button"
                   class="block rounded-md bg-secondary px-3 py-2 text-center text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-primary">
                        <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col" class="py-3.5 text-left text-sm font-semibold sm:pl-6">
                                #
                            </th>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6">
                                Template
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">
                                Sujet
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        {% for template in project.templates %}
                            <tr>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                    {{ template.id }}
                                </td>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6">
                                    <a href="{{ path('app_inbox_show', {'id': template.id}) }}"
                                       class="text-primary no-underline hover:underline">
                                        {{ template.name }}
                                    </a>
                                </td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                    {{ template.subject }}
                                </td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                    {% if has_edit_right %}
                                        <a href="{{ path('app_template_update', {'id': template.id}) }}"
                                           class="text-indigo-600 hover:text-indigo-900">Modifier</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="whitespace-nowrap py-4 text-sm font-medium text-center" colspan="6">
                                    Aucun template
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

